@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "DM Sans", sans-serif;
}
.container{
    max-width: 1320px;
    margin:  auto;
}
.border{
    border: 1px solid #393f47;
}
.p-50-30{
    padding: 50px 30px 0 30px;
}
.head{
    height: 111px;
    padding: 25px 15px;
}
header{
    background-color: #1e252e;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-items{
    align-items: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-betwwen{
    justify-content: space-between;
}
.bg-color-35{
    background-color: #353b44;
}
.fw-900{
    font-weight: 900;
}
.gap-20{
    gap: 20px;
}
.btnsub{
    width: 163px;
    height: 48px;
    background-color: #f4a641;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bg-1f{
    background-color: #1f262f;
}
.p-15-20{
    padding: 15px 20px;
}
.gap-70{
    gap: 70px;
}
.colorfe{
    color: #fefefe;
}
.colorf4{
    color: #f4a641;
}
.b-l{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.btn{
    width: 102px;
    height: 53px;
    background-color: #f4a641;
    font-weight: 600;
}
.weight-600{
    font-weight: 600;
}
.border-redeus{
    border-radius: 10px;
}
.btnorder{
    width: 122px;
    height: 45px;
    background-color: #f4a641;
}
.m-auto{
    margin: auto;
}
.hero-sec{
    background-image: url('https://demo.awaikenthemes.com/html-preview/quivox/html/images/hero.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.hero-sec::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #121923;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
}
.h-100{
    height: 100%;
}
.z-index{
    position: relative;
    z-index: 9999 !important;
}
.gap-5{
    gap: 5px;
}
.m-t-30{
    margin-top: 30px;
}
.f-76{
    font-size: 76px;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.font-18{
    font-size: 18px;
}
.first-para{
    line-height: 1.6em;
    margin-bottom: 1.5em;
}
.btnjoin{
    height: 53px;
    width: 147px;
    background-color: #f4a641;
    font-weight: 600;
}
.btndownload{
    width: 200px;
    height: 50px;
    border: 2px solid #f4a641;
    border-radius: 100px;
}
.bg-img{
    background-image: url('https://demo.awaikenthemes.com/html-preview/quivox/html/images/download-app-item-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}
.m-l-40p{
    margin-left: 40%;
}
.bg-color{
    background-color: #121924;
}
.height-800{
    height: 800px;
}
.p-100-40{
    padding: 100px 40px;
}
.font-50{
    font-size: 50px;
}
.title-dec{
    font-weight: 900;
    letter-spacing: -0.02em;
}
.Bitcoin{
    width: 302px;
    height: 67px;
    border: 1px solid #393f47;
    margin-top: 15px;
    border-radius: 10px;
}
.gap-10{
    gap: 10px;
}
.p-15-30{
    padding: 15px 30px;
}
.font-22{
    font-size: 22px;
}
.bg-color-1e{
    background-color: #1e252e;
}
.dec{
    line-height: 1.6em;
    margin-bottom: 1.5em;
}
.m-t-20{
    margin-top: 20px;
}
.p-ab{
    position: absolute;
    left: 15px;
}
.bg-29{
    background-color: #293039;
}
.circle{
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;
}
.m-t-60{
    margin-top: 60px;
}
.btn-read{
    width: 133px;
    height: 53px;
    background-color: #f4a641;
    font-weight: 600;
}
.p-ab-1{
    position: absolute;
    right: 280px;
}
.m-t-10{
    margin-top: 10px;
}
.card-dec{
    font-weight: 900;
    letter-spacing: -0.02em
}
.colorc3{
    color: #c3c4c3;
}
.p-50{
    padding: 30px;
}
.w-100p{
    width: 100%;
}
.font-24{
    font-size: 24px;
}
.card{
    border: 1px solid #393f47;
}
.p-10{
    padding: 17px;
}
.card-price{
    font-weight: 600;
   line-height:1.5em;
}
.color-green{
    color: green;
}
.justify-evenly{
    justify-content: space-evenly;
}
section{
    background-image: url("https://demo.awaikenthemes.com/html-preview/quivox/html/images/bg-img.svg");
    background-position: center center;
    background-size: 200%;
}
.sliderimg{
    height: 60px !important;
    width: 60px !important;
}
.abd img{
    animation: abd 2s linear infinite;
}
@keyframes abd {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
input{
    width: 81.5%;
    padding: 15px 20px;
    background-color: transparent;
    border: none;
}
select{
    padding: 15px 20px;
    outline: none;
    background-color: transparent;
    border: none;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}